<!DOCTYPE html>
<html lang="ko">
<!--head 정보 설정-->
<head th:replace="~{template/head :: head}"></head>

<body>
<header>
    <div class="inner">
        <div class="head-container">
            <div class="head-logo">
                <a href="/main">
                    Free Market
                </a>
            </div>
            <div class="head-menu">
                <div><a href="">고객센터</a></div>
                <div><a href="/member_join_page">회원가입</a></div>
                <div><a href="">로그인</a></div>
            </div>
        </div>
    </div>
</header>
<!--검색바-->
<section class="search-section">
    <div class="inner">
        <div class="search-container">
            <div class="search-select-container">
                <div>Category</div>
                <select class="form-select">
                    <option>전체</option>
                </select>
                <input class="form-control"></input>
                <button class="btn btn-dark w-25">검색</button>
            </div>

            <div class="my-trancation">
                <div>예약된 거래</div>
                <div>알림 내역</div>
            </div>
        </div>
    </div>
</section>
<!--검색바 끝-->

<!--배너-->
<section class="banner">
    <img src="img/banner-moon.png" alt="banner">
</section>
<!--배너 끝-->

<!--인기 상품-->
<section>
    <div class="inner">

        <div class="item-container">
            <!--상품 제목 부분-->
            <div class="item-title-container">
                <div class="item-title">
                    <div class="item-title-main">Daily</div>
                    <div class="item-title-connect">|</div>
                    <div class="item-title-sub">방금 올라온 새로운 상품을 만나보세요!</div>
                </div>

                <div class="item-more">
                    <a href="">more</a>
                </div>
            </div>
            <!--최신 상품 목록 부분-->
            <ul class="item-list">
                <li class="item-card">
                    <a href="">
                        <img src="img/fun-coding-mark.png" alt="fun-coding" class="item-image">
                        <div class="item-container">
                            <div class="item-name">토비의 팔아요dddddddddddddddddddd 3.1 팔아요</div>
                            <div class="item-price">3,000원</div>
                            <div class="seller-container">
                                <div class="seller-name">Tobby's</div>
                                <div class="buyer-like">찜</div>  <!--파비콘 설정 필요!!-->
                            </div>
                        </div>
                    </a>
                </li>
                <li class="item-card">
                    <a href="">
                        <img src="img/fun-coding-mark.png" alt="fun-coding" class="item-image">
                        <div class="item-container">
                            <div class="item-name">토비의 팔아요dddddddddddddddddddd 3.1 팔아요</div>
                            <div class="item-price">3,000원</div>
                            <div class="seller-container">
                                <div class="seller-name">Tobby's</div>
                                <div class="buyer-like">찜</div>  <!--파비콘 설정 필요!!-->
                            </div>
                        </div>
                    </a>
                </li>
                <li class="item-card">
                    <a href="">
                        <img src="img/fun-coding-mark.png" alt="fun-coding" class="item-image">
                        <div class="item-container">
                            <div class="item-name">토비의 팔아요dddddddddddddddddddd 3.1 팔아요</div>
                            <div class="item-price">3,000원</div>
                            <div class="seller-container">
                                <div class="seller-name">Tobby's</div>
                                <div class="buyer-like">찜</div>  <!--파비콘 설정 필요!!-->
                            </div>
                        </div>
                    </a>
                </li>
                <li class="item-card">
                    <a href="">
                        <img src="img/fun-coding-mark.png" alt="fun-coding" class="item-image">
                        <div class="item-container">
                            <div class="item-name">토비의 팔아요dddddddddddddddddddd 3.1 팔아요</div>
                            <div class="item-price">3,000원</div>
                            <div class="seller-container">
                                <div class="seller-name">Tobby's</div>
                                <div class="buyer-like">찜</div>  <!--파비콘 설정 필요!!-->
                            </div>
                        </div>
                    </a>
                </li>
                <li class="item-card">
                    <a href="">
                        <img src="img/fun-coding-mark.png" alt="fun-coding" class="item-image">
                        <div class="item-container">
                            <div class="item-name">토비의 팔아요dddddddddddddddddddd 3.1 팔아요</div>
                            <div class="item-price">3,000원</div>
                            <div class="seller-container">
                                <div class="seller-name">Tobby's</div>
                                <div class="buyer-like">찜</div>  <!--파비콘 설정 필요!!-->
                            </div>
                        </div>
                    </a>
                </li>
            </ul>

            <ul class="item-list">
                <li class="item-card">
                    <a href="">
                        <img src="img/fun-coding-mark.png" alt="fun-coding" class="item-image">
                        <div class="item-container">
                            <div class="item-name">토비의 팔아요dddddddddddddddddddd 3.1 팔아요</div>
                            <div class="item-price">3,000원</div>
                            <div class="seller-container">
                                <div class="seller-name">Tobby's</div>
                                <div class="buyer-like">찜</div>  <!--파비콘 설정 필요!!-->
                            </div>
                        </div>
                    </a>
                </li>
                <li class="item-card">
                    <a href="">
                        <img src="img/fun-coding-mark.png" alt="fun-coding" class="item-image">
                        <div class="item-container">
                            <div class="item-name">토비의 팔아요dddddddddddddddddddd 3.1 팔아요</div>
                            <div class="item-price">3,000원</div>
                            <div class="seller-container">
                                <div class="seller-name">Tobby's</div>
                                <div class="buyer-like">찜</div>  <!--파비콘 설정 필요!!-->
                            </div>
                        </div>
                    </a>
                </li>
                <li class="item-card">
                    <a href="">
                        <img src="img/fun-coding-mark.png" alt="fun-coding" class="item-image">
                        <div class="item-container">
                            <div class="item-name">토비의 팔아요dddddddddddddddddddd 3.1 팔아요</div>
                            <div class="item-price">3,000원</div>
                            <div class="seller-container">
                                <div class="seller-name">Tobby's</div>
                                <div class="buyer-like">찜</div>  <!--파비콘 설정 필요!!-->
                            </div>
                        </div>
                    </a>
                </li>
                <li class="item-card">
                    <a href="">
                        <img src="img/fun-coding-mark.png" alt="fun-coding" class="item-image">
                        <div class="item-container">
                            <div class="item-name">토비의 팔아요dddddddddddddddddddd 3.1 팔아요</div>
                            <div class="item-price">3,000원</div>
                            <div class="seller-container">
                                <div class="seller-name">Tobby's</div>
                                <div class="buyer-like">찜</div>  <!--파비콘 설정 필요!!-->
                            </div>
                        </div>
                    </a>
                </li>
                <li class="item-card">
                    <a href="">
                        <img src="img/fun-coding-mark.png" alt="fun-coding" class="item-image">
                        <div class="item-container">
                            <div class="item-name">토비의 팔아요dddddddddddddddddddd 3.1 팔아요</div>
                            <div class="item-price">3,000원</div>
                            <div class="seller-container">
                                <div class="seller-name">Tobby's</div>
                                <div class="buyer-like">찜</div>  <!--파비콘 설정 필요!!-->
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
<!--최신 상품 끝-->

<!--footer 가져오기-->
<footer th:replace="~{template/footer :: footer}"></footer>
</body>
</html>