<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{template/head :: head}"></head>
<body>
<footer th:fragment="footer">
    <div class="inner">
        <div class="footer-container">
            <div class="company">
                <div>상호명 : FreeMarket</div>
                <div>대표 이사 : 이한수</div>
                <div>회사 위치 : 강남구에서 제일 비싼 땅이 내 회사다 자식들아</div>
                <div>사업자 등록번호 : 81928419284</div>
                <div></div>
            </div>

            <div class="customer-service-center">
                <div><span class="call-name">365 고객센터 </span>  |  전자금융거래분쟁처리담당</div>
                <div class="call-number">1577-7011(유료)</div>
                <div>콜센터 위치 : 여긴 뉴욕에서 제일 비싼 땅</div>
                <div class="call-email">email: help@freemarket.com</div>
                <div></div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
